@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
}
body{

    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.navbar {
    top: 0;
    width: 100%;
    margin-top: 25px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.logo img {
    max-height: 180px;
}
.container{ 
    margin-top: 25px; /* Espaço para não ficar embaixo da navbar */
    width: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}
#movieTitle {
    width: 75%;
    font-size: 14px;
    padding: 10px;
    background-color: #4a4a4a;
    border-radius: 5px;
    color: white;
}
#btn {
    padding: 10px 15px;
    background-color: #4a4a4a;
    border: none;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}
#btn:hover {
    background-color: #6a6a6a;
}
#filme-info{
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    gap: 25px;

}
.img-f {
    width: 100%;
}

#poster{
    border-radius: 8px;
    box-shadow: 0 0 10px 2px #4a4a4a; 
}

#titulo{
    
    font-size: 38px;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inf{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}
#lancamento, #duracao{
    color: #26CEFB;
} 
#genero{
    color: #cab9b9;
}
#sinopse{
    font-size: 18px;
    color: #cab9b9;
}
.dev_contact{
    position: fixed;
    bottom: 20px;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste fino do posicionamento */
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: aliceblue;
    box-shadow: 0 2px 5px #26CEFB;
;
    z-index: 1000;
}

.developer-footer span {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 700px) {
    body{
        width: 90%;
        margin: auto;
    }
    .cabecalho{
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    #filme-info{
        display: flex;
        flex-direction: column;
    }
    #poster{
        width: 100%;
        aspect-ratio: 1;
    }
    footer{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    footer h1{
        color:#cab9b9;
        font-size: 12px;
    }
  }